.post-list {
  margin: 0 0 40px 0;
  li {
    list-style: none;
  }

  .post-meta {
    color: $grey-color-dark;
    line-height: 36px;
    float: right;
  }
  .icon {
    visibility: hidden;
    margin-left: 10px;
    float: right;
    line-height: 36px;
  }
}

.post-link {
  color: $brand-color;
  display: block;

  h2 {
    display: inline-block;
    margin: 0;
  }

  &:hover {
    h2 {
      text-decoration: underline;
    }
    .icon {
      visibility: visible;
    }
  }
}
